/** popup avatar */
.popup-avatar__base {
  width: 430px;
  height: 181px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid white;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.popup-avatar__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-form__input {
  width: 358px;
  margin: 20px auto;
  border: none;
  border-bottom: 2px solid rgba(115, 107, 107, 0.3);
}
/* popup fin*/

.popup-editor-profile__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.popup-add-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.popup-confirm-delete__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.popup-editor-profile__confirm-delete_base {
  width: 430px;
  height: 181px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid white;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.popup__submit {
  background-color: black;
  border-radius: 8px;
  width: 358px;
  height: 50px;
  color: white;
  margin: 0 auto;
  display: block;
}
.popup__container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 👈 centra horizontalmente */
}

.popup__title {
  text-align: center;
}

.popup-editor-profile__base {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid white;
  width: 430px;
  height: 330px;
  border-radius: 8px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.popup-add-card__base {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid white;
  width: 430px;
  height: 330px;
  border-radius: 8px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.popup-editor-profile__title {
  margin: 30px 0 30px 30px;
  font-size: 24px;
  font-family: "inter", sans-serif;
}
.popup-add-card__title {
  margin: 30px 0 30px 30px;
  font-size: 24px;
  font-family: "inter", sans-serif;
}

.popup-editor-profile__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popup-add-card__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.popup-editor-profile__input {
  width: 358px;
  margin: 20px auto;
  border: none;
  border-bottom: 2px solid rgba(115, 107, 107, 0.3);
}
.popup-add-card__input {
  width: 358px;
  margin: 20px auto;
  border: none;
  border-bottom: 2px solid rgba(115, 107, 107, 0.3);
}

.popup-editor-profile__input:focus {
  outline: none;
}
.popup-add-card__input:focus {
  outline: none;
}
.popup-editor-profile__save-button {
  width: 358px;
  height: 50px;
  margin: 0 auto;
  font-family: "inter", sans-serif;
  background-color: black;
  margin-top: 30px;
  color: white;
  border-color: gray;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.popup-add-card__save-button {
  width: 358px;
  height: 50px;
  margin: 0 auto;
  font-family: "inter", sans-serif;
  background-color: black;
  margin-top: 30px;
  color: white;
  border-color: gray;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.popup-editor-profile__save-button:hover {
  border-color: gray;
  box-shadow: 0 4px 8px rgba(183, 178, 178, 0.3);
  background-color: rgb(27, 26, 26);
  transform: scale(1.05);
  color: white;
}
.popup-add-card__save-button:hover {
  border-color: gray;
  box-shadow: 0 4px 8px rgba(183, 178, 178, 0.3);
  background-color: rgb(27, 26, 26);
  transform: scale(1.05);
  color: white;
}
.popup-editor-profile__close-button {
  font-size: 32px;
  position: absolute;
  top: -10px;
  right: -40px;
  border: none;

  transform: translate(-50%, -50%);
  z-index: 3;
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0;
  color: white;
}
.popup-add-card__close-button {
  font-size: 32px;
  position: absolute;
  top: -10px;
  right: -40px;
  border: none;

  transform: translate(-50%, -50%);
  z-index: 3;
  cursor: pointer;
  background: none;
  padding: 0;
  margin: 0;
  color: white;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: auto;
}

.popup__contenido {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border-radius: 8px;
  box-shadow: 0 0 10px #222;
  max-width: 80vw;
  max-height: 90vh;
}

.popup__cerrar {
  position: absolute;
  top: -30px;
  right: -30px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  color: white;
  padding: 8px;
}

.popup__imagen {
  display: block;
  max-width: 70vw;
  max-height: 70vh;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px black;
}
.popup_hidden {
  display: none;
}

.popup__footer {
  font-family: "inter", sans-serif;
  z-index: 5;
  font-size: 16px;
  color: white;
}

.form__set_active {
  max-height: none;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.popup-form__field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.popup-form__input-error {
  font-family: "inter", sans-serif;
  font-size: 12px;
  color: red;
  opacity: 0;
  position: absolute;
  top: calc(100% - 6px);
  left: 0;
  transition: 0.3s;
  margin-left: 30px;
}

.popup-form__input-error_active {
  opacity: 1;
}

.popup-form__input_type_error {
  border-bottom-color: red;
}
.button_inactive {
  color: #b8b8b8;
  background: #ededed;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* Estilos para tablets y laptops medianos */
}
@media screen and (max-width: 767px) {
  .popup__base {
    background-color: rgba(255, 255, 255, 1);
    width: 280px;
    height: 322px;
    top: 20%;
  }
  .popup-editor-profile__input {
    width: 238px;
  }
  .popup-add-card__input {
    width: 238px;
  }
  .popup-editor-profile__save-button {
    width: 238px;
    height: 46px;
  }
  .popup__close-button {
    left: 50%;
    width: 26px;
    height: 26px;
  }
  .popup-add-card__save-button {
    width: 238px;
    height: 46px;
  }
  .popup-editor-profile__base {
    width: 282px;
    height: 322px;
  }
  .popup-add-card__base {
    top: 20%;
    width: 282px;
    height: 322px;
  }
  .popup__submit {
    width: 258px;
    height: 50px;
  }

  .popup-editor-profile__confirm-delete_base {
    width: 330px;
    height: 181px;
  }
}
